/Ajuste.jasper
/Cierre_Caja.jasper
/Cotizaciones.jasper
/Creditos.jasper
/CreditosGenerales.jasper
/EntradasMensuales.jasper
/Existencias.jasper
/AlCostoVenta.jasper
/Retaceo_filtrado.jasper
/Alcostoventa.jasper
